html, body{
    background-color: white;
    @apply scroll-smooth;
    @apply focus:scroll-auto;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

header {
    @apply bg-black/10;
    @apply backdrop-blur;
    padding-top: 0;
    padding-bottom: 0;
}

.fullheight{
    height: 100%;
}

.titlemenu, .icon-container{
    position: relative;
    z-index: 99 !important;
    @apply hover:text-gray-400;
    @apply transition-colors;
    pointer-events: auto;
}

.menulist{
    line-height: 2em;
}

.menulist li{
    @apply hover:text-gray-400;
    @apply transition-colors;
}

.icon-container{
    font-size: 4em;
    font-weight: bold;
    letter-spacing: .2em;
}

.icon-menu-container{
    -webkit-tap-highlight-color: transparent;
    /*top: 1.5rem;*/
}

.icon-menu, .icon-menu:before, .icon-menu:after, .icon-close, .icon-close:before, .icon-close:after{
    width: 3.5rem;
    height: 0.3rem;
}

.icon-menu{
    top: 0.4em;
}

.icon-menu:before{
    top: -0.8rem;
}

.icon-menu:after{
    top: 0.8rem;
}

.icon-close{
    top: 0.4em;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
}

main{
    padding-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.swiper, .swiper-wrapper, .swiper-slide, .swiper-slide img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.mappa{
    aspect-ratio: 1;
}

.cornice{
    border: 1px solid darkgray;
}

.testo{
    @apply hyphens-auto;
    @apply text-justify;
    font-size: 1.2rem;
}

.testo a{
    text-decoration: underline;
}

.img_fancybox{
 cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .icon-container{
        font-size: 3em;
        font-weight: bold;
        letter-spacing: .2em;
        top: 0.43rem;
    }

    .titlemenu{
        font-size: 2.6rem;
    }

    .icon-menu-container{
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
    }

    .icon-menu, .icon-menu:before, .icon-menu:after, .icon-close, .icon-close:before, .icon-close:after{
        width: 2.5rem;
        /*height: 0.21rem;*/
        height: 4px;
    }

    .icon-menu:before{
        top: -0.7rem;
    }

    .icon-menu:after{
        top: 0.7rem;
    }

    .menulist{
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}