html{
    /*font-family: 'Inter Tight Variable', sans-serif*/
}

header {
    @apply bg-black/10;
    @apply backdrop-blur;
}

.menu{

}

header{
}

.fullheight{
    height: 100%;
}

.bigtext{
    font-size: 5em;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.titlemenu, .icon-container{
    position: relative;
    z-index:9;
    font-size: 5.5em;
    font-weight: bold;
    letter-spacing: .2em;
}

.icon-menu-container{
    margin-right: 1em;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    top: 2em;
}

.icon-menu, .icon-menu:before, .icon-menu:after{
    width: 0.7em;
    height: 0.05em;
}

.icon-menu:before{
    top: -0.15em;
}

.icon-menu:after{
    top: 0.15em;
}

.icon-close, .icon-close:before, .icon-close:after{
    width: 0.7em;
    height: 0.05em;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
}

main{
    padding-top:13rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.swiper, .swiper-wrapper, .swiper-slide, .swiper-slide img{
    height:100%;
    width:100%;
    object-fit: cover;
}