---
import Container from "@components/Container.astro";
import SmallPageLayout from "@layouts/SmallPageLayout.astro";
---

<SmallPageLayout title="Contatti" description="Contatti">
    <Container>
        <p class="mb-10 testo">
            SIN ARCH si trova in via Casalino 178, 70019 - Triggiano (Bari) <br /><br />
            Per collaborazioni, proposte, nuovi prgetti o richieste informazioni/portfolio contattaci a:<br />
            <a href="mailto:sin.arch@gmail.com"><strong>sin.arch@gmail.com</strong></a><br /><br />
            Se sei interessato a collaborare con noi, anche in forma di stage/tirocinio, vieni a trovarci o contattaci al nostro indirizzo email inviando un pdf con cover letter, CV, ed alcuni esempi dei tuoi lavori.
        </p>
        <div class="mappa cornice">
            <iframe height="100%" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=via%20Casalino%20178,%2070019%20-%20Triggiano%20(Bari)+(SIN%20ARC)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
        </div>
    </Container>
</SmallPageLayout>

