---
import Container from "@components/Container.astro";
import SmallPageLayout from "@layouts/SmallPageLayout.astro";
---

<SmallPageLayout title="Contatti" description="Contatti">
    <Container>
        <p>test test</p>
    </Container>
</SmallPageLayout>

