---
import Container from "@components/Container.astro";
import SmallPageLayout from "@layouts/SmallPageLayout.astro";
---

<SmallPageLayout title="Studio" description="Studio">
    <Container>
        <p class="mb-10 testo text-black">
            SIN ARCH è uno studio di architettura, con sede a Bari, fondato da Vito Fortini e Paolo Fortini.<br /><br />
            Lo studio nasce come ramo dello studio tecnico SIN PROGETTI, che da più di trent’anni lavora nel campo dell’ingegneria,
            dell’architettura e della pianificazione, nel territorio barese.<br /><br />
            SIN ARCH si occupa di progettazione architettonica e urbana, ed è impegnato nelle tematiche del progetto della città,
            dell’architettura del paesaggio, del rapporto infrastruttura/architettura e del progetto della casa,
            con una particolare attenzione rivolta allo studio e al progetto dello spazio pubblico nella città contemporanea.<br /><br />
            SIN ARCH crede nel progetto come prodotto della sinergia tra professionisti con differenti
            competenze e know-how, concetto che ispira l’idea fondativa dello studio e anima il suo lavoro.<br /><br />
            SIN ARCH svolge la sua attività attraverso un costante rapporto circolare tra teoria e progetto e si impegna,
            oltre che nella pratica professionale, anche nella ricerca. Ha intrapreso negli ultimi anni, numerosi progetti
            di ricerca, in ambito accademico e con gli enti locali, partecipando a mostre, workshops e convegni.
        </p>
    </Container>
</SmallPageLayout>

