---
import fs from 'fs';
import path from 'path';
const { dir } = Astro.props;
const isDev = import.meta.env.MODE === 'development';
const imagesDir = isDev ? path.resolve('public', dir) : path.resolve(dir);
const images = fs.readdirSync(imagesDir).filter(file => /\.(png|jpe?g|gif|webp)$/i.test(file));
export { images };
---

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {images.map(image => (
                <div class="swiper-slide"><img src={`${dir}/${image}`} alt={image} /></div>
        ))}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<script>
    import Swiper from 'swiper';
    import { Navigation, Thumbs, Autoplay } from "swiper/modules";
    //Mousewheel
    import 'swiper/css';
    import 'swiper/css/navigation';
    import 'swiper/css/pagination';
    
    document.addEventListener('DOMContentLoaded', function() {
        new Swiper('.mySwiper', {
            modules: [Navigation, Thumbs, Autoplay],
            mousewheel: true,
            freeMode: true,
            loop: true,
            speed: 2000,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            autoplay: {
                delay: 5000,
            },
        });
    });
</script>
