---
import Container from "@components/Container.astro";
//import Link from "@components/Link.astro";
//import { SITE } from "@consts";
---
<header id="header">
    <Container>
        <nav class="navbar p-4 flex justify-between items-center z-20">
            <a href="/" class="titlemenu font-bold text-center text-5xl uppercase tracking-wider text-white">SIN</a>
            <div id="container" class="icon-menu-container">
                <label for="checkbox"></label><input type="checkbox" id="checkbox"/>
                <div id="icon-container" class="icon-container">
                    <div id="icon" class="icon-menu"></div>
                </div>
            </div>
        </nav>
        <div id="menu" class="menu fixed inset-0 flex items-center justify-center" style="display:none;">
            <!--<div class="container0h z-10"><div id="fullheight" class="fullheight"></div></div>-->
            <ul class="menulist text-center text-white text-4xl uppercase tracking-wider font-bold z-30">
                <li><a href="/">Home</a></li>
                <li><a href="/studio">Studio</a></li>
                <li><a href="/progetti">Progetti</a></li>
                <li><a href="/ricerca">Ricerca</a></li>
                <li><a href="/contatti">Contatti</a></li>
                <li><a href="/news">News</a></li>
            </ul>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", () => init());
            document.addEventListener("astro:after-swap", () => init());

            function init(){
                const tgt = document.querySelector("#container");
                if (!tgt) return;

                tgt.addEventListener("click", () => {
                    onMenuToggle()
                });

                function onMenuToggle() {
                    const icon = document.getElementById("icon");
                    const checkbox = document.getElementById("checkbox") as HTMLInputElement | null;
                    const header = document.getElementById("header");
                    //const fullheight = document.getElementById("fullheight");
                    const menu = document.querySelector<HTMLDivElement>(".menu");
                    const arrows = document.querySelectorAll<HTMLElement>(".splide__arrow");

                    if (!icon || !checkbox || !header || !menu) return; // Verifica che tutti gli elementi esistano

                    const isChecked = checkbox.checked;
                    checkbox.checked = !isChecked;
                    icon.className = checkbox.checked ? "icon-close" : "icon-menu";

                    if (checkbox.checked) {
                        menu.style.display = "flex";
                        menu.style.opacity = "0";
                        setTimeout(() => {
                            menu.style.opacity = "1";
                            //fullheight.style.opacity = "1";
                            menu.style.transition = "opacity 200ms";
                            header.classList.add("fullheight");
                        }, 10);

                        arrows.forEach(arrow => {
                            arrow.style.display = "none";
                        });
                    } else {
                        menu.style.opacity = "0";
                        setTimeout(() => {
                            menu.style.display = "none";
                            //fullheight.style.opacity = "0";
                            header.classList.remove("fullheight");
                        }, 200);

                        arrows.forEach(arrow => {
                            arrow.style.display = "flex";
                            arrow.style.opacity = "0";
                            setTimeout(() => {
                                arrow.style.opacity = "1";
                                arrow.style.transition = "opacity 200ms";
                            }, 10);
                        });
                    }
                }
            }
        </script>
    </Container>
</header>
