---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="it">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>

    <script>
      import { Fancybox } from "@fancyapps/ui";
      import "@fancyapps/ui/dist/fancybox/fancybox.css";

      //document.addEventListener("DOMContentLoaded", () => init());
      document.addEventListener("astro:page-load", () => init());

      function init() {
        Fancybox.defaults.Hash = false;
        Fancybox.bind("[data-fancybox='gallery']", {
        });
      }

    </script>

    <Footer />
  </body>
</html>
